package templates

templ About() {
	<div class="flex flex-col items-center justify-center">
		<div class="max-w-md p-6 bg-white shadow-md rounded-lg">
			<p class="text-lg mb-4">Welcome to my <span class="font-bold text-indigo-500">demo website</span>. Feel free to explore and gather ideas for your own projects.</p>
			<p class="text-lg mb-4">Here are some of the key components:</p>
			<ul class="list-disc ml-6 mb-4">
				<li class="text-lg"><a class="font-bold text-amber-600" href="https://go.dev/learn/">Go programming language</a></li>
				<li class="text-lg"><a class="font-bold text-amber-600" href="https://templ.guide/">Templ</a></li>
				<li class="text-lg"><a class="font-bold text-amber-600" href="https://htmx.org/">HTMX</a></li>
				<li class="text-lg"><a class="font-bold text-amber-600" href="https://tailwindcss.com/">Tailwind CSS</a></li>
				<li class="text-lg"><a class="font-bold text-amber-600" href="https://www.docker.com/">Docker & Docker Compose</a></li>
			</ul>
			<p class="text-lg">I created this as a project to learn many of these tools. Poke around the <a class="font-bold text-amber-600" href="https://github.com/Mawdac">code</a> and get inspired!</p>
		</div>
	</div>
}
