package templates

import "github.com/mawdac/go-docker-api-test/internal/store"

templ Index(j []*store.Joke) {
	<div class="container mx-auto flex-grow">
		<div hx-get="/jokes" hx-trigger="every 5s" class="max-h-screen overflow-auto">
			@Jokes(j)
		</div>
	</div>
}
